@include media-md {
    .menu-btn {
        visibility: hidden;
    }

    .nav {
        visibility: visible;
    
        .menu-nav {
            display: block;
            transform: translateY(0);
            height: 100%;
            background: transparent;
            text-align: right;

            &_item {
                display: inline;
                padding-right: 1.5rem;
            }

            &_link {
                font-size: 2rem;
            }
        }
    }

    .about_bio {
        font-size: 1.5rem;
    }

    .projects {
        &_bio-img {
            height: 40vh;
        }

        &_items {
            grid-template-columns: repeat(2, 1fr);
        }

        .text-secondary {
            font-size: 3rem;
        }
    }

    .contact {
        &_list {
            grid-template-columns: repeat(2, 1fr);
        }

        .social-icons {
            margin-top: 5rem;
        }
    }
    
}

@include media-lg {
    .projects {
        &_bio-img {
            height: 40vh;
        }

        &_items {
            grid-template-columns: repeat(3, 1fr);
        }

        .text-secondary {
            font-size: 3rem;
        }
    }

    .contact {
        &_list {
            grid-template-columns: repeat(3, 1fr);
        }

        .social-icons {
            margin-top: 5rem;
        }
    }
}

@include media-xl {
    .projects_bio-img {
        height: 50vh;
    }
}

